.view-container-header-control {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.view-container-child-view-options{
    height: 94vh;
    overflow-y: hidden;
    background-color: white;
}
